.dashboard__widget {
	&--container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		border-bottom: solid 1px #808080;
	}
	&--row{
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 0 1rem;
	}
	&--12 {
		width: 100%;
		margin-bottom: 3rem;
	}
	&--6 {
		width: 50%;
	}
	&--4 {
		width: 25%;
	}	
	&--3 {
		width: 30%;
		margin: 2rem 0;
	}	
}


.widget--content {
	margin: 2.5rem 0;
}

.dashboard--row {
	padding:  0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.widget--left {
		padding: 1rem 1rem 1rem 0;

}

.widget--right {
		padding: 1rem 1rem 1rem 1rem;

}


.border-middle {
	border-left: solid gray 1px;
}

@media only screen and (max-width: 767px) {
	
	.dashboard__widget {
		&--container {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			border-bottom: solid 1px #808080;
		}
		&--row{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			padding: 0 1rem;
		}
		&--12 {
			width: 100%;
			margin-bottom: 3rem;
		}
		&--6 {
			width: 100%;
			margin-bottom: 2rem;
		}
		&--4 {
			width: 100%;
		}	
		&--3 {
			width: 100%;
			margin: 2rem 0;
		}	
	}

	.widget--left {
		padding: 0;
	}

	.widget--right {
		padding: 0;
	}	


	.border-middle {
		border-left: none;
	}

}