.social--inner {
	border: solid $gray-light 1px;
	border-radius: 7px;
	background-color: #e9e9e9; 
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
}

.social-ico {
	border: solid $secondary-color 1px;
	background: $secondary-color;
	border-radius: 50%;
	width: 65px;
	height: 65px; 	
	display: flex;
	justify-content: space-around;
	align-items: center;
	img {
		padding: 15px;
		width: 50%;
		display: block;
		margin: 0 auto;
	}
}

.social-number {
	width: 70%;
	height: 100%;
	padding-left: 2rem;
	.number--title {
		display: block;
	}
}

.number--title {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0 0 1rem;
}

.title__social {
	margin: 0;
	width: 100%;
	color: $primary-color;
}


.title__number {
	margin: 0;
	width: 100%;
	font-size: 2.5rem;
}







